@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Beautiful People";
  src: url("../fonts/beautifulpeople.ttf") format("truetype");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Hanken";
  src: url("../fonts/hanken.ttf") format("truetype");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

html, body {
  min-height: 101%;
}

html {
  font-size: 62.5%;
  /* &:before {
    content: '';
    @apply block w-full h-[80px] md:h-[160px];
  } */
}

body {
  @apply font-sans text-sm antialiased font-normal leading-normal xl:text-base text-stone-600;
}

.container {
  @apply mx-auto max-w-screen-3xl;
}

a {
  @apply transition duration-700;
}

[class*="transition"] {
  @apply duration-300;
}

.text-shadow--white {
  text-shadow: 2px 2px 5px #fff;
}

/* --------------------------
Headings
-------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply p-0 mb-6 font-serif font-normal leading-tight;
}

h1 {
  @apply text-xl;
}

h2 {
  @apply text-lg;
}

/* --------------------------
Rows & Containers
-------------------------- */

.row {
  @apply my-8 lg:my-16;
}

.container {
  @apply mx-auto max-w-screen-2xl;
}

.block-padding {
  @apply p-4 md:p-6 lg:p-8;
}

/* --------------------------
Content
-------------------------- */

.content {
  p {
    @apply mb-6;
  }
}

/* --------------------------
Active Nav Item - Header
-------------------------- */

.primaryNav-item-is-active .primaryNav__icon {
  @apply text-olive-600;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

/* Embla carousel */

.embla {
  @apply w-full;
}

.embla__wrap {
  @apply relative;
}

.embla__viewport {
  @apply w-full overflow-hidden;
}

.embla__container {
  @apply flex;
}

.embla__slide {
  @apply relative flex-1;
}

.embla__slide--gallery {
  flex: 0 0 100%;
  padding-left: 0px;
}

.embla__button:not(:disabled) {
  cursor: pointer;
  @apply text-teal-900 cursor-pointer;
}

.embla__button:disabled {
  @apply text-gray-300;
}

/*! purgecss start ignore */
/* .embed-container {
  position: relative;
  padding-bottom: 45%;
  height: 0;
  overflow: hidden;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bg-boxes {
  transform-origin: center;§
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
} */
/*! purgecss end ignore */